@font-face {
  font-family: JetBrainsRegular; 
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype"); 
}

@font-face {
  font-family: JetBrainsBold; 
  src: url("../assets/fonts/JetBrainsMono-Bold.ttf") format("truetype"); 
}

@font-face {
  font-family: JetBrainsLight; 
  src: url("../assets/fonts/JetBrainsMono-Light.ttf") format("truetype"); 
}

@font-face {
  font-family: JetBrainsMedium; 
  src: url("../assets/fonts/JetBrainsMono-Medium.ttf") format("truetype"); 
}