:root {
  --color-error: #F03E3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #6613EE;
    --color-primary-opacity: rgb(40% 7% 93% / 10%);
    --color-bg: #1A1A20;
    --color-bg-menu: #1D1D21;
    --color-text: #FFF;
    --color-sub-text: rgb(255 255 255 / 70%);
    --color-border: #585151;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #6613EE;
    --color-primary-opacity: rgb(40% 7% 93% / 10%);
    --color-bg: #ECECF3;
    --color-bg-menu: #C7C7CE;
    --color-text: #000;
    --color-sub-text: rgb(0 0 0 / 70%);
    --color-border: #585151;
  }
}

body[data-theme="dark"] {
  --color-primary: #6613EE;
  --color-primary-opacity: rgb(40% 7% 93% / 10%);
  --color-bg: #1A1A20;
  --color-bg-menu: #1D1D21;
  --color-text: #FFF;
  --color-sub-text: rgb(255 255 255 / 70%);
  --color-border: #585151;
}

body[data-theme="light"] {
  --color-primary: #6613EE;
  --color-primary-opacity: rgb(40% 7% 93% / 10%);
  --color-bg: #ECECF3;
  --color-bg-menu: #C7C7CE;
  --color-text: #000;
  --color-sub-text: rgb(0 0 0 / 70%);
  --color-border: #585151;
}