.article {
  width: 100%;
  margin-top: 2rem;

  .title {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--color-sub-text);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
  }
}